@using MyTestedAspNetCoreApp.ViewModel.Home
@using MyTestedAspNetCoreApp.Services
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Options
@using System.Text.Encodings.Web
@model IndexViewModel
@inject IShortStringService ShortString
@inject IConfiguration Configuration
@inject IOptions<ErrorViewModel> Options
@inject UrlEncoder UrlEncoder
@inject JavaScriptEncoder JsEncoder

@{
    ViewData["Title"] = "Home Page";
    var data = "<script> alert() </script>";
}

<h2>@this.Configuration["HalloMessage"]</h2>
<h4>@this.Configuration["ConnectionStrings:DefaultConnection"]</h4>
@{
    var test = this.Options.Value;
}
<h1>This is from option value: @test.RequestId and @test.ShowRequestId</h1>

@*Секюрити. За енкодване на данни:*@
@*Проблем:*@ @*@Html.Raw(data)*@
@*Решение на Проблема:*@
@data
@UrlEncoder.Encode(data)
@JsEncoder.Encode(data)


@*@await Html.PartialAsync("_HomePageStart")*@

<partial name="_HomePageStart" />

<form method="post" asp-action="GetData">
    <input type="text" name="info"/>
    <input type="submit" value="Click me" class="btn btn-danger"/>
</form>


<div class="text-center">
    @if (this.User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome, @Model.Name</h1>

    }
    else
    {
        <h1 class="display-4">Welcome, Anonymous</h1>
    }
    <h2>Is @Model.Year year</h2>
    <p>@ShortString.GetShort(Model.Description, 30)</p>
    <p> We have @Model.ProcessorCount processors in this PC</p>
    <p> We have @Model.UsersCount users in the DB</p>
    <p> User id is @Model.Id</p>


    <form asp-action="Index">
        <textarea asp-for="Description"></textarea>
        <label for="year">Year: </label>
        <input id="year" asp-for="Year" />
        <input type="submit" name="Submit" value="Submit" />
    </form>
</div>
<!--Comment-->
<p class="display-4">&ETH;  &Sigma;  &lt;string&gt;</p>


<table bootstrap-table="" table-name="Digits from custom TagHelper">
    @for (int i = 0; i < 10; i++)
    {
        <tr><td>@i</td></tr>

    }
</table>



@section Links {
    <li class="nav-item">
        <a class="nav-link text-dark" href="https://bing.com">Bing</a>
    </li>
}